.App {
  margin: 24px;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(158,214,168,0.8939950980392157) 49%, rgba(0,212,255,1) 100%);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
/* Color Theme Swatches in Hex */
.Mangolishies-1-hex { color: #FFAE00; }
.Mangolishies-2-hex { color: #634A00; }
.Mangolishies-3-hex { color: #383416; }
.Mangolishies-4-hex { color: #0cf7e3; }
.Mangolishies-5-hex { color: #0F353D; }

/* Color Theme Swatches in RGBA */
.Mangolishies-1-rgba { color: rgba(255, 174, 0, 1); }
.Mangolishies-2-rgba { color: rgba(99, 74, 0, 1); }
.Mangolishies-3-rgba { color: rgba(56, 52, 21, 1); }
.Mangolishies-4-rgba { color: rgba(12, 124, 115, 1); }
.Mangolishies-5-rgba { color: rgba(15, 52, 61, 1); }

/* Color Theme Swatches in HSLA */
.Mangolishies-1-hsla { color: hsla(41, 100, 50, 1); }
.Mangolishies-2-hsla { color: hsla(44, 100, 19, 1); }
.Mangolishies-3-hsla { color: hsla(52, 43, 15, 1); }
.Mangolishies-4-hsla { color: hsla(174, 81, 26, 1); }
.Mangolishies-5-hsla { color: hsla(191, 60, 15, 1); }



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
